# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
.env/
.venv/

# VS Code settings
.vscode/

# Dev Container settings
.devcontainer/devcontainer.json
.devcontainer/Dockerfile

# pytest cache
.pytest_cache/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor temporary files
*.swp
*~
